.heading1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: rgb(59, 59, 160);
    font-size: x-large;
}

.chartss{
    background-color: rgb(230, 230, 230);
    padding: 30px 40px;
    margin: 0px 200px;
    padding-bottom: 70px;
    box-shadow: 5px 5px 15px 10px rgba(0, 0, 0.2, 0.2);
}