<mat-toolbar color="primary" class="nav">   
    <div>
        <button mat-button routerLink="Home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a>Home</a></button>
       
    </div>
    <div>
        <button mat-button routerLink="Login" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a>Login/Logout</a></button>
        <button mat-button routerLink="Register" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a>Register</a></button>
    </div>
  </mat-toolbar>
