.main{
    display: flex;
    justify-content: space-evenly;
    padding: 70px;
}

.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }

  .head{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: rgb(63, 88, 142);
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: rgb(148, 87, 87);
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .supermain{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }



  

.mycss{
  border: 1px solid black;
  margin: 10px 10px;
  border-radius: 5px;
  background-color: #44498c;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: medium;
}

h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  font-weight: 700;
  color: #35359f;


}

.mycsslist{
  background-color: #d9dce9;
  border: 1px solid rgb(32, 91, 163);
  
}




.btnclass{
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 20px;
}

button{
  height: 100%;
  width: 100%;
}

.mat-success{
  background-color: green;
}

.fm{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 15px;
}

h1{
  font-weight: 700;
}