<div class="btnclass">
  <div class="dialog1">
    <button mat-raised-button color="accent" *ngIf="showEditButton" (click)="openDialog1()">Edit</button>
  </div>

  <div class="dialog2">
    <button mat-raised-button color="warn" *ngIf="deletebtn" (click)="deleteTask('0ms', '0ms')">Delete</button>
  </div>

  <div class="dialog">
    <button mat-raised-button color="primary" (click)="openDialog()">Add</button>
  </div>
</div>




<div class="supermain">


  <div class="main">

    <div class="example-container">
      <div class="head">
        <h2>Todo</h2>
      </div>


      <div cdkDropList  #list1List="cdkDropList" [cdkDropListData]="list1"
        [cdkDropListConnectedTo]="[list2List, list3List, list4List]" class="example-list mycsslist" 
        (cdkDropListDropped)="drop($event)" id="1">
        <div *ngFor="let item of list1" (click)="handleOnClick(item)" class="example-box mycss"
          style="border: 1px solid black;" cdkDrag>

          <div>
            <h1 class="fm">{{item.taskName}}</h1>
            <h3 class="fm">Details: {{item.taskDesc}}</h3>
            <h3 class="fm">Date: {{item.date | date}}</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="example-container">
      <div class="head">
        <h2>In Process</h2>
      </div>

      <div cdkDropList #list2List="cdkDropList" [cdkDropListData]="list2"
        [cdkDropListConnectedTo]="[list1List, list3List, list4List]" class="example-list mycsslist" 
        (cdkDropListDropped)="drop($event)" id="2">
        <div *ngFor="let item of list2" (click)="handleOnClick(item)" class="example-box mycss"
          style="border: 1px solid black;" cdkDrag>
          <div>
            <h1 class="fm">{{item.taskName}}</h1>
            <h3 class="fm">Details: {{item.taskDesc}}</h3>
            <h3 class="fm">Date: {{item.date | date}}</h3>
          </div>
        </div>
      </div>
    </div>

      <div class="example-container">
        <div class="head">
          <h2>Validation</h2>
        </div>

        <div cdkDropList #list3List="cdkDropList" [cdkDropListData]="list3"
          [cdkDropListConnectedTo]="[list1List, list2List, list4List]" class="example-list mycsslist"
          (cdkDropListDropped)="drop($event)" id="3">
          <div *ngFor="let item of list3" (click)="handleOnClick(item)" class="example-box mycss"
            style="border: 1px solid black;" cdkDrag>
            <div >
              <h1 class="fm">{{item.taskName}}</h1>
            <h3 class="fm">Details: {{item.taskDesc}}</h3>
            <h3 class="fm">Date: {{item.date | date}}</h3>
            </div>
          </div>
        </div>
      </div>


      <div class="example-container">
        <div class="head">
          <h2>Complete</h2>
        </div>

        <div cdkDropList #list4List="cdkDropList" [cdkDropListData]="list4"
          [cdkDropListConnectedTo]="[list1List, list2List, list3List]" class="example-list mycsslist"
          (cdkDropListDropped)="drop($event)" id="4">
          <div *ngFor="let item of list4" (click)="handleOnClick(item)" class="example-box mycss"
            style="border: 1px solid black;" cdkDrag>
            <div >
              <h1 class="fm">{{item.taskName}}</h1>
            <h3 class="fm">Details: {{item.taskDesc}}</h3>
            <h3 class="fm">Date: {{item.date | date}}</h3>
            </div>
          </div>
        </div>
      </div>







    </div>


    <br><br><br><br>
    <app-charts></app-charts>
















  </div>