.heading1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: rgb(59, 59, 160);
    font-size: x-large;
}


.charts{
    height: 400px;
    width: 500px;
}
@media only screen and (max-width: 767px) {

    .charts{
        height: 250px;
        width: 300px;
    }

}