<div class="example-container login mt-5 mx-5 my-5 reg">
    <mat-form-field>
        <mat-label>Create Username</mat-label>
        <input matInput  #username>
    </mat-form-field>


    <mat-form-field>
      <mat-label>Create password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" #password>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-flat-button color="primary" (click)="submit()">Register</button>
  </div>
